/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles or utilities*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

/* header section */
.header {
    background-color: rgba(255, 144, 14, 0.1);
    max-height: 1400px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 18px;

}

/* banner */
.banner {
    align-items: center;
    text-align: center;
}

.banner-description {

    padding: 100px 275px 20px 275px;
    height: 175px;
    width: 862px;
    font-weight: 700;
    color: #131313;
    padding-bottom: 20px;



}

.banner-sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.btn-orange {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #FF900E;
    margin-bottom: 40px;
}

.banner-section {
    align-items: center;
    max-width: 800px;
    max-height: 400px;
    /* padding-bottom: 20px; */
    padding: 0 250px 20px 300px;
}

.banner img {

    object-fit: cover;
    width: 100%;

}

/* main */
/* know about section */
.know-about {
    padding: 30px 40px 30px 40px;
    display: flex;

}

.know-about-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.know-about img {
    width: 100%;
}

.know-about-description {
    width: 50%;
    padding: 50px;
    padding-top: 250px;
}

.know-about-sub-title {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* text color */
.text-gray {
    color: #727272;
    ;
}

.text-black {
    color: #131313;
}

.text-orange {
    color: #FF900E;
}

.know-about-sub-title {
    width: 550px;
}

/* feature section */
.features {
    display: flex;
}

.feature-description {
    width: 50%;
    padding: 40px;
}


.title-part {
    display: flex;
}

.title-part1 {
    width: 5px;
    height: 90px;
    background: #FF900E;
}

.feature-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    width: 466.38px;
    height: 106px;
    padding-left: 20px;
}

.feature-pera,
.feature-card-desp {
    margin-top: 10px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 583.97px;
    height: 78px;
}



.feature-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 583.97px;
    height: 130px;
    margin-top: 20px;
    padding: 30px 30px;
}

.feature-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;



    color: #131313;

}

.images-card {
    width: 50%;
    position: relative;
}

.image-card {
    width: 100%;
}

.btn-year {
    position: absolute;
    top: 78%;
    left: -2%;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    width: 340.81px;
    height: 200px;
    border-radius: 5px;
    background-color: #FF900E;
    margin-bottom: 40px;
}

.btn-year-title {
    font-weight: 700;
    font-size: 65px;
}

/* achievement */

.achievement-title {
    width: 327px;
    height: 53px;
    color: #131313;
    font-size: 45px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.achievement-pera {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 542px;
    height: 52px;
    margin-left: 100px;
    color: #727272;

}

.box-cards {
    display: flex;

}

.box-card {
    margin-top: 40px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 170px;
    height: 210px;
    margin-left: 150px;

}

.box-card:hover {
    transform: rotate(90deg);
}

.box-card-each {
    align-items: center;
    justify-content: center;
    width: 169px;
}

.box-card-each img {
    padding: 30px 30px 10px 60px;
}

.box-card h3 {
    color: #424242;
    text-align: center;
}

.box-card p {

    text-align: center;
    color: #727272;
}

/* architect section */
.architect-program-title,
.sponsor-description-title {
    text-align: center;
    margin-top: 30px;
    color: #131313;
    font-size: 45px;
    margin-bottom: 20px;
}

.architect-program-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;

}

.architect-program-videos .video {
    margin-bottom: 20px;
}

/* footer section */

.sponsor-description-sub-title {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 542px;
    padding-left: 450px;
}

.sponsor-images {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sponsor-image {

    filter: grayscale(1);
    margin-right: 70px;
    width: 153.33px;
    height: 50px;
}

.copywrite {
    
    width: 1100px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-left: 170px;
    margin-bottom: 100px;
    margin-top: 60px;
}

.copywrite p{
    color: #424242;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    
}

/* responsive styles */
@media screen and (max-width:576px) {
    nav,ul,.know-about,.features,.title-part,.box-card,.box-cards,.sponsor-images{
        flex-direction: column;
        gap:20px;
        padding: 10px 20px ;
     }
     .banner-description,.know-about-description,.know-about-sub-title,.feature-pera,.feature-card,.feature-card-desp,.images-card,.achievement-facts,.architect-program,.sponsor-description,.copywrite,.banner-sub-title{
        height: 175px;
        width: 400px;
     }
     .banner-description{
        padding: 0;
        margin: 0;
     }

     .know-about-images,.architect-program-videos{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    
     }
     .know-about-description{
        padding: 0;
        text-align: center;
     }
     .features{
        margin-top: 200px;
     }
     .feature-description{
        padding: 0;
        margin: 0;
     }
     .btn-year{
        top:80%;
        padding: 0;
     }
     .images-card{
        margin-bottom: 850px;
     }
     .sponsor-description-title{
        margin-left: 60px;
     }
     .sponsor-description-sub-title{
        padding: 0;
        margin-left: 20px;
     }
     .sponsor-images{
        margin-left: 200px;
     }
     .sponsor-image{
        margin-bottom:50px;
     }
     
    
}